# Cleaned `country_vaccinations.csv`

In [1]:
# imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

sns.set()
%matplotlib inline

In [32]:
df = pd.read_csv('data/country_vaccinations.csv')
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...

In [33]:
columns = ['country', 'iso_code', 'date', 'total_vaccinations']
df = df[columns]
df.head()

       country iso_code        date  total_vaccinations
0  Afghanistan      AFG  2021-02-22                 0.0
1  Afghanistan      AFG  2021-02-23                 NaN
2  Afghanistan      AFG  2021-02-24                 NaN
3  Afghanistan      AFG  2021-02-25                 NaN
4  Afghanistan      AFG  2021-02-26                 NaN

In [8]:
df.isna().sum()

country                  0
iso_code                 0
date                     0
total_vaccinations    6180
dtype: int64

In [10]:
df.country.unique(), len(df.country.unique())

(array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
        'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
        'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
        'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
        'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
        'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Cambodia', 'Cameroon',
        'Canada', 'Cape Verde', 'Cayman Islands', 'Chile', 'China',
        'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
        'Curacao', 'Cyprus', 'Czechia', 'Democratic Republic of Congo',
        'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
        'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Estonia',
        'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands',
        'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
        'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
        'Guatemala', 'Guernsey', 'Guinea', 'Guyana', 'Honduras',
        'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
        'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
        'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
        'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
        'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
        'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
        'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
        'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
        'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
        'Northern Cyprus', 'Northern Ireland', 'Norway', 'Oman',
        'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
        'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
        'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis',
        'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
        'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Scotland',
        'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
        'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
        'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
        'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
        'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
        'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Uganda',
        'Ukraine', 'United Arab Emirates', 'United Kingdom',
        'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
        'Wales', 'Zambia', 'Zimbabwe'], dtype=object),
 195)

In [17]:
cond = df.country == 'Afghanistan'
df_Afghanistan = df[cond]
df_Afghanistan.head()

       country iso_code        date  total_vaccinations
0  Afghanistan      AFG  2021-02-22                 0.0
1  Afghanistan      AFG  2021-02-23                 NaN
2  Afghanistan      AFG  2021-02-24                 NaN
3  Afghanistan      AFG  2021-02-25                 NaN
4  Afghanistan      AFG  2021-02-26                 NaN

In [22]:
df_Afghanistan.country.unique()

array(['Afghanistan'], dtype=object)

In [21]:
df_Afghanistan.date.min(), df_Afghanistan.date.max()

('2021-02-22', '2021-04-22')

In [37]:
countries = df.country.unique()
start_date = []
end_date = []
for country in countries:
    condition = df['country'] == country
    df_condition = df[cond]
    start_date.append(df_condition.date.min())
    end_date.append(df_condition.date.max())

In [38]:
len(start_date), len(end_date)

(195, 195)

In [40]:
df = df.groupby(['country']).sum()
df.head()

             total_vaccinations
country
Afghanistan            422200.0
Albania              11295390.0
Algeria                 75030.0
Andorra                185420.0
Angola                1551757.0

In [41]:
df['start_date'] = start_date
df['end_date'] = end_date
df.head()

             total_vaccinations  start_date    end_date
country
Afghanistan            422200.0  2021-02-22  2021-04-22
Albania              11295390.0  2021-02-22  2021-04-22
Algeria                 75030.0  2021-02-22  2021-04-22
Andorra                185420.0  2021-02-22  2021-04-22
Angola                1551757.0  2021-02-22  2021-04-22

In [42]:
df.to_csv('data\continents2.csv', index=False)