# Cleaning `continents2.csv`

In [1]:
# imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

sns.set()
%matplotlib inline

In [2]:
# loading the data
df = pd.read_csv('data/continents2.csv')
df.head()

             name   region       sub-region
0     Afghanistan     Asia    Southern Asia
1   Åland Islands   Europe  Northern Europe
2         Albania   Europe  Southern Europe
3         Algeria   Africa  Northern Africa
4  American Samoa  Oceania        Polynesia

In [3]:
# Checking if they are any duplicates in the data, and length of dataframe
df.duplicated().sum(), len(df)

(0, 248)

In [4]:
df.columns

Index(['name', 'region', 'sub-region'], dtype='object')

In [5]:
# Selecting the columns we think would be useful for our model
columns = ['name','region','sub-region']
df = df[columns]
df.head()

             name   region       sub-region
0     Afghanistan     Asia    Southern Asia
1   Åland Islands   Europe  Northern Europe
2         Albania   Europe  Southern Europe
3         Algeria   Africa  Northern Africa
4  American Samoa  Oceania        Polynesia

In [6]:
# Checking for nulls
df.isnull().sum()

name          0
region        0
sub-region    0
dtype: int64

In [7]:
# Checking what null value is
df1 = df[df.isna().any(axis=1)]
df1

Empty DataFrame
Columns: [name, region, sub-region]
Index: []

In [8]:
# Since pupluation is so low in antarctica we can drop it since it wont affect our model 
df.dropna(inplace=True)
df.isnull().sum()

name          0
region        0
sub-region    0
dtype: int64

In [9]:
df.to_csv('data\continents2.csv', index=False)

### Summary:
Just selecting that columns that we as a group thought that would be useful for our model. Ensuring that those columns did not have any missing data. Dropped the only row that had missing data due to the population of that place being so low we did not think our model would be affected by that missing data.