# Cleaned `country_vaccinations.csv`

In [26]:
# imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

sns.set()
%matplotlib inline

In [103]:
df = pd.read_csv('data/country_vaccinations.csv')
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,https://reliefweb.int/report/afghanistan/afgha...

In [104]:
columns = ['country', 'date', 'total_vaccinations', 'vaccines']
df = df[columns]
df.head()

       country        date  total_vaccinations            vaccines
0  Afghanistan  2021-02-22                 0.0  Oxford/AstraZeneca
1  Afghanistan  2021-02-23                 NaN  Oxford/AstraZeneca
2  Afghanistan  2021-02-24                 NaN  Oxford/AstraZeneca
3  Afghanistan  2021-02-25                 NaN  Oxford/AstraZeneca
4  Afghanistan  2021-02-26                 NaN  Oxford/AstraZeneca

In [105]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.head()

       country       date  total_vaccinations            vaccines
0  Afghanistan 2021-02-22                 0.0  Oxford/AstraZeneca
1  Afghanistan 2021-02-23                 NaN  Oxford/AstraZeneca
2  Afghanistan 2021-02-24                 NaN  Oxford/AstraZeneca
3  Afghanistan 2021-02-25                 NaN  Oxford/AstraZeneca
4  Afghanistan 2021-02-26                 NaN  Oxford/AstraZeneca

In [106]:
df = df.fillna(0)
df.isna().sum()

country               0
date                  0
total_vaccinations    0
vaccines              0
dtype: int64

In [107]:
cond = df.country == 'Afghanistan'
df_Afghanistan = df[cond]
df_Afghanistan.head()

       country       date  total_vaccinations            vaccines
0  Afghanistan 2021-02-22                 0.0  Oxford/AstraZeneca
1  Afghanistan 2021-02-23                 0.0  Oxford/AstraZeneca
2  Afghanistan 2021-02-24                 0.0  Oxford/AstraZeneca
3  Afghanistan 2021-02-25                 0.0  Oxford/AstraZeneca
4  Afghanistan 2021-02-26                 0.0  Oxford/AstraZeneca

In [108]:
df_Afghanistan.country.unique()

array(['Afghanistan'], dtype=object)

In [109]:
df_Afghanistan.date.min(), df_Afghanistan.date.max()

(Timestamp('2021-02-22 00:00:00'), Timestamp('2021-04-22 00:00:00'))

In [110]:
countries = df.country.unique()
days_taken = []
for country in countries:
    condition = df['country'] == country
    df_condition = df[cond]
    days = (df_condition.date.max() - df_condition.date.min()).days
    days_taken.append(days)
len(countries), len(days_taken)

(195, 195)

In [111]:
df = df.groupby(['country']).sum()
df.head()

             total_vaccinations
country
Afghanistan            422200.0
Albania              11295390.0
Algeria                 75030.0
Andorra                185420.0
Angola                1551757.0

In [112]:
df['amount_of_days'] = days_taken
df.head()

             total_vaccinations  amount_of_days
country
Afghanistan            422200.0              59
Albania              11295390.0              59
Algeria                 75030.0              59
Andorra                185420.0              59
Angola                1551757.0              59

In [113]:
df.to_csv('data/country_vaccinations.csv')