In [1]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

sns.set()
%matplotlib inline

In [7]:
df_con = pd.read_csv('data/continents2.csv')
df_con_vac = pd.read_csv('data/country_vaccinations.csv')
df_con_vac_man = pd.read_csv('data/country_vaccinations_by_manufacturer.csv')
df_pop = pd.read_csv('data/population_by_country_2020.csv')

In [12]:
df_con.rename(columns={"name": "country"}, inplace=True)
df_con.head()

          country   region       sub-region
0     Afghanistan     Asia    Southern Asia
1   Åland Islands   Europe  Northern Europe
2         Albania   Europe  Southern Europe
3         Algeria   Africa  Northern Africa
4  American Samoa  Oceania        Polynesia

In [9]:
df_con_vac.head()

       country  total_vaccinations  amount_of_days
0  Afghanistan            422200.0              59
1      Albania          11295390.0              59
2      Algeria             75030.0              59
3      Andorra            185420.0              59
4       Angola           1551757.0              59

In [13]:
df_con_vac_man.rename(columns={"location": "country"}, inplace=True)
df_con_vac_man.head()

,country,vaccine,total_vaccinations,days_to_make_vaccines,amount_vaccines_needed
0,Chile,Pfizer/BioNTech,80555807,131,2
1,Chile,Sinovac,643278800,131,2
2,Czechia,Johnson&Johnson,56899,129,1
3,Czechia,Moderna,12979313,129,2
4,Czechia,Oxford/AstraZeneca,15364645,129,2

In [16]:
df_pop.rename(columns={"Country (or dependency)": "country"}, inplace=True)
df_pop.head()

,country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [17]:
df = pd.merge(df_con_vac, df_pop, on='country')
df.head()

,country,total_vaccinations,amount_of_days,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,422200.0,59,39074280,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
1,Albania,11295390.0,59,2877239,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
2,Algeria,75030.0,59,43984569,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
3,Andorra,185420.0,59,77287,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
4,Angola,1551757.0,59,33032075,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %

In [20]:
df = pd.merge(df, df_con, on='country')
df.head()

,country,total_vaccinations,amount_of_days,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,region,sub-region
0,Afghanistan,422200.0,59,39074280,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %,Asia,Southern Asia
1,Albania,11295390.0,59,2877239,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %,Europe,Southern Europe
2,Algeria,75030.0,59,43984569,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %,Africa,Northern Africa
3,Andorra,185420.0,59,77287,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %,Europe,Southern Europe
4,Angola,1551757.0,59,33032075,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %,Africa,Sub-Saharan Africa

In [22]:
df = pd.merge(df, df_con_vac_man, on='country', how='left')
df.head()

,country,total_vaccinations_x,amount_of_days,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,region,sub-region,vaccine,total_vaccinations_y,days_to_make_vaccines,amount_vaccines_needed
0,Afghanistan,422200.0,59,39074280,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %,Asia,Southern Asia,NaN,NaN,NaN,NaN
1,Albania,11295390.0,59,2877239,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %,Europe,Southern Europe,NaN,NaN,NaN,NaN
2,Algeria,75030.0,59,43984569,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %,Africa,Northern Africa,NaN,NaN,NaN,NaN
3,Andorra,185420.0,59,77287,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %,Europe,Southern Europe,NaN,NaN,NaN,NaN
4,Angola,1551757.0,59,33032075,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %,Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN

In [25]:
df = df.fillna(0)
df.head()

,country,total_vaccinations_x,amount_of_days,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,region,sub-region,vaccine,total_vaccinations_y,days_to_make_vaccines,amount_vaccines_needed
0,Afghanistan,422200.0,59,39074280,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %,Asia,Southern Asia,0,0.0,0.0,0.0
1,Albania,11295390.0,59,2877239,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %,Europe,Southern Europe,0,0.0,0.0,0.0
2,Algeria,75030.0,59,43984569,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %,Africa,Northern Africa,0,0.0,0.0,0.0
3,Andorra,185420.0,59,77287,0.16 %,123,164,470,0.0,N.A.,N.A.,88 %,0.00 %,Europe,Southern Europe,0,0.0,0.0,0.0
4,Angola,1551757.0,59,33032075,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %,Africa,Sub-Saharan Africa,0,0.0,0.0,0.0

In [26]:
df.to_csv('data\cleaned.csv', index=False)